.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: rgb(174, 93, 250);
    margin: 0;
    text-align: center;
        li{
            display: inline-block;
            text-align: center;
        }
            a {
                text-decoration: none;
                color: white;
                padding: 20px;
                display: block;
                font-size: larger;
            }
                li {
                    background-color: rgb(174, 93, 250);
                        &:hover {
                            background-color: fuchsia;
                        }
                }
}